<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nuai"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup">
        <activity
            android:name=".onboarding.ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Nuai.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".onboarding.ui.activity.SplashAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.LoginRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.TutorialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.CreatePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.EnterActivationCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.AcceptTermsAndConditionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.RegistrationCompletedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.OTPVerificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".onboarding.ui.activity.ResetPasswordSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ui.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.ui.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.HealthScanOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.AboutAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".history.ui.activity.HealthHistoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.ScanByFaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.ScanByFingerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.ui.activity.SendFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.MeasurementResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".home.ui.activity.LearnMoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ui.activity.MyPlansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ui.activity.SubscriptionPlansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ui.activity.PaymentStatusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Nuai.NoActionBar"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.utils.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>